<h1 mat-dialog-title>Asignar proyecto</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm">

        <mat-form-field appearance="outline">
            <mat-label>Nombre del alumno</mat-label>
            <input formControlName="nombres" matInput placeholder="">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Apellido paterno</mat-label>
            <input formControlName="paterno" matInput placeholder="">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Apellido materno</mat-label>
            <input formControlName="materno" matInput placeholder="">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Número de control</mat-label>
            <input formControlName="numcontrol" matInput placeholder="">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Proyecto</mat-label>
            <mat-select formControlName="proyecto" placeholder="">
                <mat-option *ngFor="let pro of projectSelect" [value]="pro.nombre">
                    {{pro.nombre}}

                </mat-option>
            </mat-select>
        </mat-form-field>

    
        <!--<label for=""><h1>Frescura</h1></label>
        <mat-radio-group formControlName="frescura" class="example-radio-group">
            <mat-radio-button clas="example-radio-button" *ngFor="let fresh of frescuraList" [value]="fresh">
                {{fresh}}
            </mat-radio-button>
        </mat-radio-group>-->
    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>
